<!-- ARTICLE CONTENT -->
<article class="post-content">
    {{content |safe}}
</article>
<p class="post-title h-cinzel">
    <em><a href="{{uri}}">{{title}}</a></em>
</p> 
<!-- END ARTICLE CONTENT -->